extends ./layout
include ./search
block content
		main.container
			+search
			form(action="/pubs", method="POST")
				input(type="hidden", value=`${city}`, name="city")
				each pub in pubs
					.container_pubs
						input(type="checkbox", value= `${pub.coordinates.latitude} ${pub.coordinates.longitude}`, name= `${pub.name}`, id= `${pub.name}`)
						label.col.container_pub.flex.between(onclick="check(this)", for=`${pub.name}`)
							.flex.start
								img.pub_img(src=`${pub.image_url}`)
								.pub_info.start
									.info_open.flex.between
										h4.pub_name #{pub.name}
										if pub.is_closed
											p.isOpen Closed
										else
											p.isOpen Open
									p.price
										| Price range 
										span #{pub.price}
									p.phone #{pub.display_phone}
									p.adress #{pub.location.address1}
							.flex.flex-col
								span.stars #{pub.rating}
								a(href=`${pub.url}`, target="_blank") Go to Yelp page
				.flex.end.container
					p.check
						| Checked: 
						span 0
					button.btn-save(type="submit") Save
		script(src="/js/pub.js")
